/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: var(--rodamel-white);
    border: var(--rodamel-orange);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
    color: var(--rodamel-orange);
}

.back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: var(--rodamel-orange);
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}
